
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:ital,wght@0,300;0,500;1,100&family=Ubuntu:ital@1&display=swap');


.honetag{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}
.hthree{
    font-family: 'ubuntu', sans-serif;
}
.bakkground{
    background: linear-gradient(to right,rgb(69, 245, 166),rgb(69, 119, 236));
}