@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:ital,wght@0,300;0,500;1,100&family=Ubuntu:ital@1&display=swap');

h1{
    font-family: 'oxygen', sans-serif;
    color: blue;
    font-weight: 800;
    
}
.para{
    font-family: 'ubuntu', sans-serif;
}
.bakground{
    background: linear-gradient(24deg,rgb(135, 244, 204),rgb(99, 239, 139));
}