/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
} */
body{
  width: 100%;
  height: auto;
  font-family: 'Oxygen', sans-serif;
 
  background: linear-gradient(black,gray);
}